@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0 0 0 0;
	font-size: 0.938rem;
	transition: all 0.2s linear;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.section-title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

.home {
	height: 23vh;
	margin-top: 68.3px;
	background-image: url(../images/header_bg.png);
	background-size: cover;
	background-position: center;
}

.home-data img {
	height: 18vh;
	font-size: 1.3rem;
	padding: 10px;
	backdrop-filter: blur(3px) saturate(70%);
}

.home-data p {
	font-size: 1.3rem;
	padding: 10px 10px 50px 10px;
	backdrop-filter: blur(3px) saturate(70%);
}

/* .home,
.about-me,
.work,
.contact-me {
	height: 100vh;
} */

/* LAYOUT =============================== */
.container {
	max-width: 968px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/* HEADER SECTION ========================== */
.header {
	width: 100%;
	z-index: 9999;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.3s;
}

.nav {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo,
.nav-open {
	color: #000;
	font-weight: 500;
	transition: 0.3s;
}

.logo:hover,
.nav-open:hover {
	color: #ce0f0f;
}

.nav-open {
	font-size: 1.2rem;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.main-nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		padding: 3.5rem 0 1.5rem;
		text-align: center;
		background: #000;
		transition: 0.4s;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		z-index: 99999;
	}
}

.nav-item {
	margin-bottom: 1.5rem;
}

.nav-link {
	font-size: 1.3rem;
	color: #a5a5a5;
	font-weight: 400;
	transition: 0.3s;
}

.nav-link:hover {
	color: #fff;
	font-weight: 500;
}

.nav-close {
	color: #fff;
	position: absolute;
	top: 0.4rem;
	right: 1.115rem;
	font-size: 1.7rem;
	cursor: pointer;
}

.show-menu {
	top: 0;
}

/* Active Link ============================== */
.active-link {
	position: relative;
	color: #fff;
	font-weight: 500;
}

.active-link::before {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	height: 5px;
	background: #ce0f0f;
	border-radius: 50px;
}

/* CHANGE THE BACKGROUND ON SCROLL ==================== */
.scroll-header {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	background: #fff;
}

/* HOME SECTION ======================== */
.home-data {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	gap: 12px;
}

.home-data h3 {

	color: #ce0f0f;
	text-transform: uppercase;
}

/* main */
.sidebar-container {
	margin: 20px;
	display: flex;
	flex-direction: row;
}

.sidebar-container>*:nth-child(1) {
	border-right: 2px solid chocolate;
	text-align: right;
	flex: 1 1 25%;
	min-width: 15ch;
}

.sidebar-container>*:nth-child(2) {
	text-align: left;
	min-width: 30ch;
	flex: 1 1 100%;
	min-width: 30ch;
}

.title-container {
	padding: 10px;
	text-decoration: underline;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.text-content-aboutme {
	padding: 5px 20px 5px 20px;
	line-height: 25.2px;
}

.text-content-contactme ul li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 5px 20px 5px 20px;
	padding: 10px;
}

.text-content-contactme ul li a:hover {
	background: white;
	text-decoration: underline;
	cursor: pointer;
}


.gallery {
	/* background: #ddd; */
	padding: 20px 8%;
	column-count: 2;
	gap: 10px;
}

.gallery .box {
	background: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border: .5px solid lightblue;
	border-color: rgba(241, 240, 281, 0.8);
	box-shadow: 0 3px rgba(0, 0, 0, .6);
	/* create border shadow bottom */
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
	font-weight: lighter;
	border-radius: 15px 0 0 0;
	break-inside: avoid;
}

.gallery .box img {
	width: 100%;
	/* create border shadow bottom */
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
	font-weight: lighter;
	border-radius: 15px 0 0 0;
	object-fit: cover;
}

.gallery .box .info h3 {
	font-size: 20px;
	padding: 10px 0;
	color: #555;
}

.gallery .box .info span {
	color: deeppink;
}

.gallery .box .info p {
	font-size: 14px;
	color: #999;
}

.gallery .box .info .share {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, .3);

}

.gallery .box .info .share a {
	font-size: 20px;
	color: #999;
	margin-right: 10px;
	text-decoration: none;
}

.gallery .box .info .share a:hover {
	color: deeppink;
}

/* end main */

@media screen and (min-width: 576px) {
	.section-title {
		font-size: 2rem;
	}

}

@media screen and (min-width: 767px) {
	body {
		margin: 0;
	}

	.nav {
		height: 5rem;
	}

	.nav-list {
		display: flex;
		align-items: center;
	}

	.nav-item {
		margin-left: 2.5rem;
		margin-bottom: 0;
	}

	.nav-link,
	.logo {
		font-size: 1rem;
		color: #000;
	}

	.nav-link:hover {
		color: #ce0f0f;
	}

	.active-link {
		color: #ce0f0f;
	}

	.active-link::before {
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}

	.nav-open,
	.nav-close {
		display: none;
	}

}

@media screen and (min-width: 968px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}

}

@media (max-width: 991px) {
	.gallery {
		column-count: 2;
	}

	.sidebar-container {
		flex-direction: column;
	}

	.sidebar-container>*:nth-child(1) {
		border-left: 2px solid chocolate;
		border-right: 0;
		text-align: left;
		flex: 1 1 25%;
		min-width: 15ch;
	}
}

@media (max-width: 650px) {

	.gallery {
		column-count: 1;
		padding: 20px;
	}

	.sidebar-container>*:nth-child(1) {
		border-right: 0;
	}

	.home-data {
		height: 24vh;
		margin-right: 10px;
		margin-left: 10px;

	}

	.home-data p {
		font-size: 16px;
		height: 12vh;
		color: white;
	}

	.about-me h2 {
		font-size: 1.28rem;
	}

	.about-me p {
		font-size: 1rem;
	}

	.about-me ul li {
		font-size: 1rem;
	}

	.work h2 {
		font-size: 1.28rem;
	}

	.contact-me h2 {
		font-size: 1.28rem;
	}

}